//
// Collage.scss
//
// This file contains the styles used to create the photo
// collage.
//

$margin-size: 1%;

$title-background: #fff;

.layout {
  display: flex;
  flex-wrap: wrap;

  .col {
    flex: 1 0;
    margin: 0 $margin-size $margin-size 0;

    &--2,
    &--3,
    &--3-of-5,
    &--2-of-5 { flex-basis: 100%; }
  }


}

.preview {
  position: relative;

  &__image {
    display: block;
    height: auto;
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .layout--collage {
    .col {
      overflow: hidden;
      position: relative;
    }
    
    .col--2 { flex-basis: 50 - $margin-size; }
    .col--3 { flex-basis: 33 - $margin-size; }
    .col--3-of-5 { flex-basis: 60 - $margin-size; }
    .col--2-of-5 { flex-basis: 40 - $margin-size; }
    .col--uneven-small {
      overflow: hidden;
      position: relative;

      img {
        height: 100%;
        position: absolute;
        width: auto;
        z-index: -1;          
      }
    }
    
    .preview {
      &__title {
        background-color: $title-background;
        bottom: 0;
        display: block;
        left: 0;
        margin: 0;
        max-height: 100%;
        opacity: 0;
        padding: 20px;
        position: absolute;
        transition: opacity .8s ease-in-out;
        width: 100%;
      }

      &:hover .preview__title {
        opacity: .7;
      }
    }
  }
}
